<div class="container">
{{help-card help=model.help}}
  <h4>
  <img class='stix-icon' src='{{get-stix-icon-url "campaign"}}'>
    Campaign
  </h4>

  <div class="row">
    <div class="col s12 m9">
      {{md-input label="Name"
                 value=model.item.name
                 required=true
                 validate=true}}
    </div>
    <div class="col s12 m3">
      {{input-date-field label="First Seen"
                         dateValue=model.item.first_seen
                         errors=model.errors.first_seen}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{md-input label="Objective"
                 value=model.item.objective
                 required=true
                 validate=true}}
    </div>
  </div>

  <div class="row">
    {{select-search-field placeholder="Identities"
                          search=(action "searchIdentities")
                          selections=model.identities
                          labelField="name"
                          class="col s12"}}
  </div>

  <div class="row">
    {{select-search-field placeholder="Intrusion Sets"
                          search=(action "searchIntrusionSets")
                          selections=model.intrusionSets
                          labelField="name"
                          class="col s12"}}
  </div>

  <div class="row">
    {{select-search-field placeholder="Attack Patterns"
                          search=(action "searchAttackPatterns")
                          selections=model.attackPatterns
                          labelField="name"
                          class="col s12"}}
  </div>

  <div class="row">
    {{indicator-pattern-field indicators=model.indicators}}
  </div>

  <div class="row">
    {{md-textarea label="Description"
                  value=model.item.description
                  class="col s12"}}
  </div>

  <div class="row">  
    <div class="col s12 right-align">
      <div class="option-button-column-right">
        <button {{action "save" model.item false}} id="save" class="btn waves-effect waves-light"><i class="fa fa-save"></i><span class="fa-button-text">Save &amp; Close</span></button>
      </div>
      <div class="option-button-column-right">
        {{#link-to "campaigns" id="cancel" title="Cancel" class="btn waves-effect waves-light"}}
          <i class="fa fa-arrow-left"></i><span class="fa-button-text">Cancel</span>
        {{/link-to}}
      </div>
    </div>
  </div>

  {{alert-card alert=model.alert}}

</div>
