<div class="container">
{{help-card help=model.help}}
<h4>
    <img class='stix-icon' src='{{get-stix-icon-url "identity"}}'>
    Identity
</h4>

{{outlet 'content'}}

  <div class="row">
    <div class="col s12 right-align">
      <div class="option-button-column-right">
        <button {{action "save" model.item false}} class="btn waves-effect waves-light"><i class="fa fa-save"></i><span class="fa-button-text">Save &amp; Close</span></button>
      </div>
      <div class="option-button-column-right">
        {{#link-to "identities" title="Cancel" class="btn waves-effect waves-light"}}
          <i class="fa fa-arrow-left"></i><span class="fa-button-text">Cancel</span>
        {{/link-to}}
      </div>
    </div>
  </div>

{{alert-card alert=model.alert}}

</div>