<div class="container">
{{help-card help=model.help}}
<h4>
    <img class='stix-icon' src='{{get-stix-icon-url "identity"}}'>
    Identity
</h4>

<div class="row">
  {{md-input label="Name"
           value=model.item.name
           required=true
           validate=true
           class="col s12"}}
</div>

<div class="row">
  {{md-textarea label="Description"
                value=model.item.description
                class="col s12"}}
</div>


    <div class="row">

      <div class="col s6">
        <label>Identity Class</label>
          {{#md-radios
            selection=model.item.identity_class
            content=model.identity_class
            optionValuePath='id'
            optionLabelPath='label'
            }}
        {{/md-radios}}
      </div>
      <div class="col s6">
        <label>Sector</label>
          {{md-checks
            selection=model.item.sectors
            content=model.sectorOptions
            optionValuePath='id'
            optionLabelPath='label'
          }}    
      </div>

  {{!--{{md-select label="Identity Class"
              content=model.identity_class
              value=model.item.identity_class
              prompt="Select Identity Class"
              optionLabelPath="label"
              optionValuePath="id"
              class="col s6"
  }}    

  {{md-checks
    selection=model.item.sectors
    content=model.sectorOptions
    optionValuePath='id'
    optionLabelPath='label'
    class="col s6"
  }}      --}}


  {{!--{{md-select label="Sector"
              content=model.sectors
              value=model.item.sectors
              prompt="Select Sector"
              optionLabelPath="label"
              optionValuePath="id"
              class="col s6"
  }}      --}}
  </div>


<h5>Labels</h5>

<div class="row">
  <div class="col s1">
    {{md-btn text="Add" action="addLabel" actionArg=model.item}}
  </div>
</div>

{{#each model.item.labelNames as |label index|}}

  {{#md-card}}
    {{#md-card-content}}
      <div class="row">
        {{md-input label="Label"
                   value=label.name
                   validate=true
                   class="col s12"}}
      </div>
    {{/md-card-content}}
    {{#md-card-action}}
      {{md-btn text="Remove" action="removeLabel" actionArg=label}}
    {{/md-card-action}}
  {{/md-card}}

{{/each}}

<h5>External References</h5>

<div class="row">
  <div class="col s1">
    {{md-btn text="Add" action="addExternalReference" actionArg=model.item}}
  </div>
</div>

{{#each model.item.external_references as |externalReference|}}

  {{#md-card title=externalReference.external_id}}
    {{#md-card-content}}
      <div class="row">
        {{md-input label="External ID"
                   value=externalReference.external_id
                   validate=true
                   class="col s2"}}
        {{md-input label="Source Name"
                   value=externalReference.source_name
                   validate=true
                   class="col s4"}}
        {{md-input label="URL"
                   value=externalReference.url
                   validate=true
                   class="col s6"}}
      </div>
    {{/md-card-content}}
    {{#md-card-action}}
      {{md-btn text="Remove" action="removeExternalReference" actionArg=externalReference}}
    {{/md-card-action}}
  {{/md-card}}

{{/each}}

<div class="row">  
  <div class="col s12 right-align">
    <div class="option-button-column-right">
      <button {{action "save" model.item}} class="btn waves-effect waves-light"><i class="fa fa-save"></i><span class="fa-button-text">Save</span></button>
    </div>
    <div class="option-button-column-right">
      {{#link-to "identities" title="Cancel" class="btn waves-effect waves-light"}}
      <i class="fa fa-arrow-left"></i><span class="fa-button-text">Cancel</span>
    {{/link-to}}
    </div>
  </div>
</div>

{{alert-card alert=model.alert}}

</div>