<div class="container">
{{help-card help=model.help}}

<h4>
  <img class='stix-icon' src='{{get-stix-icon-url "indicator"}}'>
  Indicator
</h4>

<div class="row">
  <div class="col">
    <div class="option-button-column-left">
        {{#link-to "indicator-edit" model.item.id title="Edit" class="btn waves-effect waves-light"}}
          <i class="fa fa-pencil"></i><span class="fa-button-text">Edit</span>
        {{/link-to}}
      </div>
      <div class="option-button-column-left">
        {{#link-to (query-params onDeleteNavigateTo='indicators') title="Delete" class="btn waves-effect waves-light red"}}
          <i class="fa fa-trash"></i><span class="fa-button-text">Delete</span>
        {{/link-to}}
      </div>
  </div>
</div> 

{{#md-card id=model.item.id}}
    {{#md-card-content}}

    <div class="row">
      <div class="col">
        <label>Name</label>
        <p>{{model.item.name}}</p>
      </div>
    </div> 

    <div class="row">
      <div class="col">
        <label>Description</label>
        <p>{{model.item.description}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Pattern</label>
        <p>
            {{#if model.item.pattern}}
              <span class="chip red">
                {{model.item.pattern}}
              </span>
            {{/if}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Valid From</label>
        <p>
          <div>
            {{moment-format model.item.valid_from "YYYY-MM-DD"}}
          </div>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Valid To</label>
        <p>
          <div>
            {{moment-format model.item.valid_until "YYYY-MM-DD"}}
          </div>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Kill Chain Phases</label>
        <div>
        {{#if model.item.kill_chain_phases}}
            {{#each model.item.kill_chain_phases as |kill_chain_phase|}}
              <div class="chip blue" title="Kill Chain Phase">{{kill_chain_phase.phase_name}}</div>
            {{/each}}
        {{/if}}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <label>External References</label>
        <div>
        {{#if model.item.external_references}}
            {{#each model.item.external_references as |external_reference|}}
              <div class="chip" title="External Reference">
                {{#if external_reference.url}}
                  <a target="_blank" href="{{external_reference.url}}">{{external_reference.source_name}}</a>
                {{else}}
                  {{external_reference.source_name}}
                {{/if}}
              </div>
              
            {{/each}}
        {{/if}}
        </div>
      </div>
    </div>
    {{/md-card-content}}
{{/md-card}}
<div class="right-align grey-text">{{model.item.id}}</div>

<h4>Relationships</h4>
{{#each model.targetRelationshipObjects as |relatedObject|}}
  {{stix-object-item objectType=relatedObject.type
                     objectId=relatedObject.id
                     objectName=relatedObject.name
                     objectDescription=relatedObject.description
                     label=relatedObject.name
                     class="paragraph-block"}}
{{/each}}
{{#each model.sourceRelationshipObjects as |relatedObject|}}
  {{stix-object-item objectType=relatedObject.type
                     objectId=relatedObject.id
                     objectName=relatedObject.name
                     objectDescription=relatedObject.description
                     label=relatedObject.name
                     class="paragraph-block"}}
{{/each}}

</div>