<div class="container">
{{help-card help=model.help}}
  <h4>
  <img class='stix-icon' src='{{get-stix-icon-url "threat-actor"}}'>
    Intrusion Set
  </h4>
{{#md-card}}
    {{#md-card-content}}
  <div class="row">
    <div class="col s12">
      {{md-input label="Name"
          class="item-name"
                 value=model.item.name
                 required=true
                 validate=true}}
    </div>
</div>
<div class="row">
    <div class="col s6 m3">
      {{input-date-field label="First Seen"
                         dateValue=model.item.first_seen
                         errors=model.errors.first_seen}}
    </div>
        <div class="col s6 m3">
      {{input-date-field label="Last Seen"
                         dateValue=model.item.last_seen
                         errors=model.errors.last_seen}}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      {{md-input label="Primary Motivation"
                 value=model.item.primary_motivation
                 required=true
                 validate=true}}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{md-input label="Goals"
                 value=model.item.goals
                 required=true
                 validate=true}}
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      {{md-input label="Resource Level"
                 value=model.item.resource_level
                 required=true
                 validate=true}}
    </div>
  </div>
  
{{/md-card-content}}
{{/md-card}}
  <h5><img class='stix-icon' src='{{get-stix-icon-url "attack-pattern"}}'> Attack Patterns</h5>
  <div class="row">

    {{select-search-field-related-external placeholder="select an attack pattern"
                          search=(action "searchAttackPatterns")
                          selections=model.attackPatterns
                          labelField="name"
                          class="col s12"}}
  </div>





  <div class="row">
    {{select-search-field placeholder="Identities"
                          search=(action "searchIdentities")
                          selections=model.item.identities
                          labelField="name"
                          class="col s12"}}
  </div>

  <div class="row">
    {{select-search-field placeholder="Threat Actors"
                          search=(action "searchThreatActors")
                          selections=model.item.threatActors
                          labelField="name"
                          class="col s12"}}
  </div>





  <div class="row">
    {{md-textarea label="Description"
                  value=model.item.description
                  class="col s12"}}
  </div>

  <div class="row">  
    <div class="col s12 right-align">
      <div class="option-button-column-right">
        <button {{action "save" model.item false}} id="save" class="btn waves-effect waves-light"><i class="fa fa-save"></i><span class="fa-button-text">Save &amp; Close</span></button>
      </div>
      <div class="option-button-column-right">
        {{#link-to "intrusion-sets" id="cancel" title="Cancel" class="btn waves-effect waves-light"}}
          <i class="fa fa-arrow-left"></i><span class="fa-button-text">Cancel</span>
        {{/link-to}}
      </div>
    </div>
  </div>

  {{alert-card alert=model.alert}}

</div>