<div class="container">
  {{help-card help=model.help}}
  <h4>
  <img class='stix-icon' src='{{get-stix-icon-url "relationship"}}'>
    Mapping Intrusion Sets to Attack Patterns
  </h4>
   {{select-search-field placeholder="Intrusion Sets"
                          search=(action "searchIntrusionSets")
                          selections=model.intrusionSets
                          labelField="name"
                          class="col s12"}}
  {{#each relationshipArray as |relationshipGroup|}}
    <div class="row">
      <div class="col s12">
    {{#md-card  class="card-title" 
                title=relationshipGroup.phaseName 
                id=relationshipGroup.phaseName}}
        {{#md-card-content class="card-description"}}
          <table class="highlight">
            <thead>
              <tr>
                <th>&nbsp;</th>
                  {{#each model.intrusionSets as |intrusionSet|}}
                    <th class=rotate data-field="name"><div><span>{{intrusionSet.name}}</span></div></th>
                  {{/each}}
                </tr>
            </thead>
            <tbody>
              {{#each relationshipGroup.items as |attackGroup|}}
                <tr>
                  <td>{{attackGroup.attackPatternName}}</td>
                    {{#each attackGroup.items as |relationshipObj|}}
                      <td {{action "clickRelationship" relationshipObj}}>
                        <i class="material-icons">{{if relationshipObj.selected "done" "stop"}}</i>
                      </td>
                    {{/each}}
                </tr>
              {{/each}}
            </tbody>
          </table>
      {{/md-card-content}}
    {{/md-card}}
    </div></div>
  {{/each}}
</div>